@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(241,238,221);
}

.loader-gif {
    margin-top: 1rem;
    height: 20px;
    width: 20px;
} 

.loader-holder {
    position: fixed;
    z-index: 99;
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    top:0;
    left:0;
    opacity: 0.2;
}


swiper-container {
    width: 800px;
    height: 400px;
    
}

swiper-slide {
   width: 100%;
   height: 100%;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}